#navlinks{
  width: 100%;
  background-color: cadetblue;
  height: 10vh;
  display: flex;
  justify-content:space-evenly;
  font-size: 5vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 text-align: center;
 text-decoration: none;
}

#navlinks a{
  text-decoration: none;
  color: rgb(68, 30, 50);
  font-size: larger;
}
#navlinks a:hover{
  background-color: rgb(75, 67, 67);
  color: white;
}
